nav ul li:nth-child(3) a{
  border-bottom: 2px white solid;
}

.team-section {
  padding: 50px 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.team-section h1 {
  color: var(--blue-100);
  margin-bottom: 40px;
}

.team-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

.team-card {
  background: var(--gray);
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-8px);
}

.team-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.team-card h2 {
  margin: 15px 0 5px;
  color: var(--blue-200);
}

.team-card p {
  padding: 0 15px 20px;
  font-size: 15px;
  color: #333;
}

/* -------------------------- Vision Section -------------------------------- */
.vision-section {
  background: url('/team page/assits/image/cta-bg.jfif') center/cover no-repeat; 
  padding: 50px 20px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: -1;
  height: 400px;
}

.vision-section::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(130, 161, 210, 0.6); 
  backdrop-filter: blur(4px);
  z-index: -1;
}

.vision-section blockquote {
  font-size: 20px;
  font-style: italic;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  z-index: 20;
}

.vision-section cite {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  z-index: 3;
}

/* Responsive */
@media (max-width: 768px) {
  .team-card {
    width: 90%;
  }
  
  .vision-section blockquote {
    font-size: 16px;
    padding: 0 10px;
  }
}


.icon{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:var(--blue-10);
    transform: translateY(100%);
    border-radius: 10px;
    transition: all 0.3s;
}

.team-card:hover .icon{
      transform: translateY(0%);
}

.icon i{
  font-size: 30px;
  color: aliceblue;
  border-radius: 50%;
}

.icon i:hover{
  color: var(--blue-200);
}